.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.name {
  font-weight: 600;
  font-size: 1.6rem;
}

.secondLine {
  display: block;
}

.desktopNav {
  display: none;
  gap: 1.5rem;
  font-size: 1.1rem;
}

.desktopNav a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 4px solid var(--soft-blue);
}

.desktopNav a:hover {
  color: inherit;
  border-bottom: 4px solid black;
}

.sideBarButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  z-index: 60;
  transition: transform 0.3s ease;
}

.sideBarButton:hover,
.sideBarButton:active {
  background: none;
}

.sideBarButton svg {
  border: none;
  background: none;
  width: 3rem;
  height: 3rem;
  position: relative;
  z-index: 60;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 0;

  width: 70%;
  height: 100vh;
  background-color: white;
  padding: 5rem 2rem;
  z-index: 40;
  /* starts -300 from the right off screen */
  right: -300px;
  /* transforms over .3s from transformed state back to default position (right: -300px)
  , turns visibility to hidden in 0s after .3s delay */
  transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
  visibility: hidden;
}

.mobileMenu.isOpen {
  /* transforms 300px to the left */
  transform: translateX(-300px);
  visibility: visible;
  transition: transform 0.3s ease-in-out, visibility 0s linear;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  gap: 0.5rem;
}

.mobileNav a {
  border-bottom: 1px solid #e5e5e5;
}

.mobileNav a:last-child {
  border-bottom: none;
}

.mobileNav a:hover {
  padding-left: 0.5rem;
  color: #666;
  border-bottom-color: #666;
}

.contactContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.contactContainer svg {
  width: 2rem;
  height: 2rem;
}

.email svg {
  width: 2.3rem;
  height: 2.3rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex; /* Show desktop nav */
  }

  .sideBarButton {
    display: none; /* Hide hamburger button */
  }
}
