@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --very-light-blue: #f7fbfc;
  --light-pastel-blue: #d6e6f2;
  --soft-blue: #b9d7ea;
  --moderate-blue: #769fcd;

  --dark-text: #333333;
  --light-text: #ffffff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: 100vh;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--very-light-blue);
  color: var(--dark-text);
}

header,
main {
  max-width: 1240px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0 1rem 0;
  gap: 1rem;
}

h1,
h3 {
  font-weight: 700;
  color: var(--moderate-blue);
}

h2 {
  font-weight: 700;
  color: var(--dark-text);
}

a {
  color: var(--moderate-blue);
}

a:hover {
  color: var(--dark-text);
}

button {
  background-color: var(--moderate-blue);
  color: var(--light-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--soft-blue);
}

footer {
  background-color: var(--soft-blue);
  color: var(--dark-text);
  width: 100%;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  section {
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
